@import "./modules";
@import "./mediaquaries";

#interior {
    @extend %design;
    background-image: radial-gradient(rgba(0, 0, 0, 0.5), black),
        url("../Images/interior.jpg");

    p {
        font-size: 20px;

        @include mobile {
            font-size: 15px;
        }
    }
}